# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
.editorconfig
.vscode

# Node dependencies
node_modules
package-lock.json

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
!.env.example
.editorconfig
.gitignore
