@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,body {
        direction: rtl;
        @apply scroll-smooth;
    }
    * {
        @apply m-0 p-0 list-none box-border;
        font-family: "IRANSans", Arial, sans-serif;
        text-decoration: none;
        transition: all .25s ease-out;
        letter-spacing: .02rem;
    }
    button, input[type="submit"] {
        @apply cursor-pointer text-sm disabled:opacity-70 disabled:cursor-default
    }
    a:link, a {
        color: unset;
    }
    .card {
        @apply float-right w-full
    }
    input:focus, textarea:focus, button:focus {
        outline: none;
    }
    input, textarea {
        background: inherit;
    }
}