@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Yekan Bakh';
    src: url('../fonts/YekanBakh-Regular.eot');
    src: url('../fonts/YekanBakh-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/YekanBakh-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yekan Bakh';
    src: url('../fonts/YekanBakh-Bold.eot');
    src: url('../fonts/YekanBakh-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/YekanBakh-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@layer base {
    html,body {
        scrollbar-width: thin;
        direction: rtl;
        @apply scroll-smooth text-white;
    }
    ::-webkit-scrollbar{width:8px}
    * {
        @apply m-0 p-0 list-none box-border;
        font-family: "Yekan Bakh", Arial, sans-serif;
        text-decoration: none;
        transition: all .25s ease;
        letter-spacing: .02rem;
    }
    button, input[type="submit"] {
        @apply cursor-pointer text-sm disabled:opacity-70 disabled:cursor-default
    }
    a:link, a {
        color: unset;
    }
    .card {
        @apply float-right w-full
    }
    input:focus, textarea:focus, button:focus {
        outline: none;
    }
    input, textarea {
        background: inherit;
    }
    .container {
        width: min(1140px, 100%);
        padding-right: 20px;
        padding-left: 20px;
        margin-right: auto;
        margin-left: auto;
    }






    .wow.animated {
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-iteration-count: 1;
    }
    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
    .wow.animated.a-fadeIn {
        animation-name: fadeIn;
    }
    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translate3d(0, 50px, 0);
        }

        to {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }
    .wow.animated.a-fadeInUp {
        animation-name: fadeInUp;
    }
    .addFadeInUp {
        animation: fadeInUp .35s forwards;
    }
    @media screen and (max-width: 560px){
        .wow.animated.xs\:a-fadeInUp {
            animation-name: fadeInUp;
        }
    }
    @keyframes fadeInDown {
        from {
            opacity: 0;
            transform: translate3d(0, -50px, 0);
        }

        to {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }
    .wow.animated.a-fadeInDown {
        animation-name: fadeInDown;
    }
}